<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.mapper.UserMapper">
    <select id="findByUsername" resultType="com.campus.entity.User">
        SELECT * FROM t_user WHERE username = #{username}
    </select>
    <select id="findById" resultType="com.campus.entity.User">
        SELECT * FROM t_user WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user (username, password, nickname, phone, role) VALUES (#{username}, #{password}, #{nickname}, #{phone}, #{role})
    </insert>
</mapper>
